<div style="margin: 0; padding: 0;" class="w-full h-full">
  <div class="dashboard-columns">

    <div class="dashboard-header">
      <h3>Recent Decks</h3>
    </div>

    <div *ngIf="windowWidth <= 400" class="dashboard-deck-crop-wrapper">
      <ngb-carousel
        [showNavigationIndicators]="false">
        <ng-template ngbSlide *ngFor="let deck of decks.slice(0, 5)">
          <div class="dashboard-deck-crop">
            <img class="dashboard-deck-crop-image" src="{{deck.image}}">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <div *ngIf="windowWidth > 400" class="dashboard-deck-crop-wrapper">
      <div class="dashboard-deck-crop-grid">
        <div class="dashboard-deck-crop" *ngFor="let deck of decks.slice(0, 5)">
          <img class="dashboard-deck-crop-image" src="{{deck.image}}">
        </div>
      </div>
    </div>
  </div>
</div>
